@model Blog.Web.ViewModels.MainPageViewModel
@{
    ViewData["Title"] = "صفحه اصلی";
}

<div class="">
    
    <Post Name ="Salam">

    </Post>
    
    @foreach (var post in Model.Posts)
    {
        <article>
            <a href="http://google.com?q=hoto">
                <div class="post-card-image" style="background-image: url('@post.ImageUrl');">



                </div>
                <h1>@post.Id</h1>
            </a>
            
            

        </article>
    }
    

</div>