@model Blog.Web.ViewModels.MainPageViewModel
@{
    ViewData["Title"] = "صفحه اصلی";
}

<div class="">
    
    <Post Name ="Salam">

    </Post>
    
    

    @foreach (var post in Model.Posts)
    {
        <div class="post">@post.Title  -  
        
            <h1>@post.Id</h1>
            <img src="@post.ImageUrl" />
        </div>
    }
    

</div>